.contentContainer {
    flex: 1;
    background-color: rgb(218, 208, 208);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
}

.contentHeader {
    display: flex;
    justify-content: center;
}

.contentForm {
    width: 50%;
    bottom: 80px;
    left: 23%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.contentInput {
    width: 70%;
    bottom: 6px;
    left: 23%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 6px
}

.contentSub {
    width: 48%;
    height: 25px;
    background-color: rgb(255, 253, 253);
    border: 2px solid gold;
    border-radius: 50px;
    color: black;
}